<div id="lobuko" class="row">
    <!-- <app-lobuko></app-lobuko> -->
    <mat-card class="col section1 primary">
        <mat-card-header>
            <mat-card-title>Lohnbuchkontrollen</mat-card-title>    
        </mat-card-header>
        <mat-card-content>
            <p>Im Auftrag paritätischer Kommissionen, führen wir Lohnbuchkontrollen durch.</p>
    
            <p>Dabei gelten unter anderem die folgenden Gesamtarbeitsverträge (GAV's) als rechtlicher Bestandteil:</p>
            <ul>
                <li>
                    GAV Personalverleih
                </li>
                <li>
                    GAV Elektro- / Telekomm.-Installation
                </li>
                <li>
                    GAV Bauhauptgewerbe (LMV)
                </li>
                <li>
                    GAV Gebäudetechnik
                </li>
                <li>
                    GAV Gebäudehüllengewerbe
                </li>
                <li>
                    GAV Isoliergewerbe
                </li>
                <li>
                    GAV Schreinereigewerbe
                </li>
                <li>
                    GAV Metallgewerbe
                </li>
                <li>
                    usw.
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
    <mat-card class="col section2 primary">
        <mat-card-header>
            <mat-card-title>Vorkontrollen</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Im Auftrag von Unternehmungen, werden Vorkontrollen durchgeführt.</p>
            <p>Dabei gibt uns der Kunde vor, welche Ebenen kontrolliert werden sollten:</p>
            <ul>
                <li>
                    welche Mitarbeiter
                </li>
                <li>
                    welche Bestimmungen
                </li>
                <li>
                    Versicherungslösungen/ -Leistungen
                </li>
                <li>
                    GAV-Bestimmungen
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>

