<div id="lobuko" class="row">
    <!-- <app-lobuko></app-lobuko> -->
    <mat-card class="col section2 primary">
        <mat-card-header>
            <mat-card-title>Lohnbuchkontrollen</mat-card-title>    
        </mat-card-header>
        <mat-card-content>
            <p>Seit 2014 führen wir, im Auftrag von paritätischen Kommissionen, Lohnbuchkontrollen durch.</p>
    
            <p>Geprüft wird dabei die Einhaltung der Vorgaben von diversen GAV's.</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="col section1 primary">
        <mat-card-header>
            <mat-card-title>Vorkontrollen</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Neben den Aufträgen von paritätischen Kommissionen, führen wir auch Vorkontrollen im Auftrag von Unternehmungen durch.</p>
            <p>Der Kunde entscheidet dabei selbst, welche Ebenen kontrolliert werden sollen:</p>
            <ul>
                <li>
                    welche Mitarbeiter
                </li>
                <li>
                    welche Bestimmungen
                </li>
                <li>
                    Versicherungslösungen/-leistungen
                </li>
                <li>
                    GAV-Bestimmungen
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>

