<div class="row">
    <mat-card class="col section1 primary">
        <mat-card-header>
            <mat-card-title>Lohnadministration</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                Lohnabrechnungen müssen korrekt und pünktlich erstellt werden. <br />
                Der Aufwand ist gross und kann meist zu ungünstigen Momenten anfallen. <br />
                Überlassen Sie uns die Lohnadministration.
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="col section2 primary">
        <mat-card-header>
            <mat-card-title>Unsere Leistungen: </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ul>
                <li>
                    Lohnabrechnungen erstellen und versenden (Post/E-Mail)
                </li>
                <li>
                    DTA-File (nach ISO20022) erstellen und übermitteln.
                </li>
                <li>
                    Quellensteuerabrechnungen
                </li>
                <li>
                    Zwischenverdienste / Arbeitgeberbescheinigungen
                </li>
                <li>
                    Jahresdeklarationen (Lohnausweise, AHV, UVG, KTG, BVG, usw.)
                </li>
                <li>
                    Div. Auswertungen (Ferien, Überstunden, Überzeit, usw.)
                </li>
                <li>
                    Div. Vorlagen bereitstellen (Arbeitsvertrag, Arbeitszeugnisse, Kündigungen, usw.)
                </li>
                <li>
                    Support bei Revisionen (AHV, SUVA, Lohnbuchkontrollen)
                </li>
                <li>
                    Weitere Leistungen auf Anfrage
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>