<mat-card class="primary col-sm-3">
    <mat-card-header>
        <mat-card-title>Kontakt</mat-card-title>    
    </mat-card-header>
    <mat-card-content>
        <p>
            <b>futura Controlling GmbH</b> <br/>
            Ringstrasse 17<br/>
            2540 Grenchen<br/>
        </p>
        <br>
        <p>
            <b>Bekim Saiti</b> <br/>
            BSc BFH in Betriebsökonomie<br/>
            Geschäftsführer<br/>
            <a href="mailto:b.saiti@futura-controlling.ch">b.saiti@futura-controlling.ch</a><br/>
            076 488 55 94<br/>
        </p>
        <p>
            Bürozeiten: <br/>
            Mo-Fr 08:00 - 12:00 Uhr und 13:30 - 17:00 Uhr
        </p>
    </mat-card-content>
</mat-card>

<mat-card class="container-fluid col-md-7">
    <div id="map" class="map"></div>
</mat-card>