<div class="entry-screen h-100 w-100">
    <div class="align-middle banner">
        <div class="row-3">
            <div class="col-md-4  mx-auto logo-div">
                <img src="assets\futura-controlling-GmbH-cmyk-lg.png" alt="FuturaControllingGmbh" class="logo image-thumbnail"/>
            </div>
        </div>
        <div class="nav row-3">
            <div class="nav-items mx-auto">
                <button mat-button [routerLink]="'/lobuko'">Lohnbuchkontrollen</button>
                <mat-divider [vertical]="true"></mat-divider>
                <!-- <button mat-button [routerLink]="'/about'">Über Uns</button>
                <mat-divider [vertical]="true"></mat-divider> -->
                <button mat-button [routerLink]="'/information'">Informationen</button>
                <mat-divider [vertical]="true"></mat-divider>
                <button mat-button [routerLink]="'/kontakt'">Kontakt</button>
            </div>
        </div>
    </div>
</div>