<form id="requestForm" [formGroup]="form">
    <mat-form-field appearance="legacy">
        <mat-label>Firma</mat-label>
        <input matInput type="text" formControlName="firm" name="client_name" required>
    </mat-form-field>
    <mat-form-field appearance="legacy">
     <mat-label>Telefon</mat-label>
     <input matInput type="tel" formControlName="tel" name="client_tel">
     </mat-form-field>
     <mat-form-field appearance="legacy">
         <mat-label>E-Mail</mat-label>
         <input matInput type="email" formControlName="eMail" name="client_mail" required>
     </mat-form-field>
     <mat-form-field appearance="legacy">
         <mat-label>Gewünschter Dienst</mat-label>
         <mat-select formControlName="services" name="client_service" required>
             <mat-option *ngFor="let service of serviceList" [value]="service">{{service}}</mat-option>
         </mat-select>
     </mat-form-field>
     <mat-form-field appearance="legacy">
         <mat-label> Bemerkungen</mat-label>
         <textarea matInput formControlName="msg" name="client_msg" maxlength="256"></textarea>
         <mat-hint align="end">{{this.form.controls['msg'].value.length}} / 256</mat-hint>
    </mat-form-field>
     <button mat-raised-button (click)="sendEmail()" class="float-right" color="accent">Senden</button>    
</form>
