// Responsive-Layout Breakpoints
$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

body{    
    overflow: hidden;
    padding: 0;
}   
.subtitle{
    font-weight: 500; //Medium
    position: fixed;
    top: 10%;
}

#container{
    padding: 50px; 
    color: white;
    position: absolute;
    top: 5%;
    left: 0;
    z-index:1;
    height: 95%;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: hidden;
    @media screen and (max-height: 400px) {
        -ms-overflow-style: auto; /* for Internet Explorer, Edge */
        scrollbar-width: auto; /* for Firefox */
        overflow-y: auto;
    }
}

#container::-webkit-scrollbar{
    display: none;
    @media screen and (max-height: 400px) {
        display: block;
    }
}

#content{
    margin-top: 10vh;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    @media screen and (max-height: 400px) {
        -ms-overflow-style: auto; /* for Internet Explorer, Edge */
        scrollbar-width: auto; /* for Firefox */
    }
}


//Preload background-image
.bg::after{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url('../assets/bg.jpg');
}

.bg-container{    
    height:95%;
    overflow: hidden;  

    margin:0;
    padding:0;

    position: fixed;
    top: 5%; // start after the navbar
    left: 0;

    .bg{           
        position: relative;
        top: -15px;
        left: -15px;
        right: -15px;
        bottom: -15px;
        background-image: url('../assets/bg.jpg');
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover;
        background-attachment: fixed;
        filter: blur(6px) contrast(50%);
        transform: scale(1.1);
        z-index:-1;  
    }   
}


:host ::ng-deep{
    mat-card{
        float: left;
        margin: 0 105px 30px 0;
        min-height: 145px;
        justify-content: center;
        &.section1{
            max-width: 750px;
            @media screen and (max-width: $phone) {
                width: 100%;
            }
        }
        &.section2{
            max-width: 430px;
            @media screen and (max-width: $phone) {
                width: 100%;
            }
        }
    }
    button:focus{
        outline: none;
    }
    p{
        margin-left: 16px;
    }
    .semibold{
        font-weight: 500;
    }
}

