body{    
    overflow: hidden;
    padding: 0;
}
.mat-headline{
    font-weight: 500; //Medium
}

#container{
    padding: 50px; 
    color: white;
    background-attachment: fixed;
    position: absolute;
    top: 64px;
    left: 0;
    z-index:1;
    height: 100%;
}

//Preload background-image
.bg::after{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url('../assets/bg.jpg');
}

.bg-container{    
    min-height: 150%;
    width: auto;

    overflow: hidden;    
    z-index:-1;    

    margin:0;
    padding:0;

    position: relative;
    top: 64px; // start after the navbar
    left: 0;

    .bg{            
        position: absolute;
        top: -15px;
        left: -15px;
        right: -15px;
        bottom: -15px;

        background-image: url('../assets/bg.jpg');
        background-position: center;
        background-repeat: no-repeat; 
        background-size: 150%;
        background-attachment: fixed;
        filter: blur(6px) contrast(50%);
        transform: scale(1.1);
    }   
}


:host ::ng-deep{
    mat-card{
        float: left;
        margin: 0 105px 10px 0;
        justify-content: center;
        &.section1{
            max-width: 750px;
        }
        &.section2{
            max-width: 430px;
        }
    }
    button:focus{
        outline: none;
    }
    p{
        margin-left: 16px;
    }
}   