<div class="h-100 w-100" *ngIf="!isEntry else entry">
    <div class="fixed-top"><app-navbar></app-navbar></div>
    <div  id="container"  class="container-fluid col-md-12">
        <h1 class="mat-headline">{{header}}</h1>
        <div id="content" [@routeAnimations]="prepareRoute(outlet)">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
    </div>    
    <div class="bg col-md-12 img-responsive"></div>
</div>
<ng-template #entry [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
</ng-template>