<div class="row">
    <mat-card class="col section1 primary">
        <mat-card-header>
            <mat-card-title>Buchhaltung</mat-card-title>    
        </mat-card-header>
        <mat-card-content>
            <p>
                Die Buchhaltung ist für jede Unternehmung Pflicht. <br/>
                Damit Sie sich auf ihr operatives Geschäft konzentrieren können, erledigen wir für Sie die Buchhaltung.
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="col section2 primary">
        <mat-card-header>
            <mat-card-title>Unsere Leistungen:</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ul>
                <li>
                    Kreditorenbuchhaltung
                </li>
                <li>
                    Debitorenbuchhaltung (inkl. Mahnwesen)
                </li>
                <li>
                    Finanzbuchhaltung
                </li>
                <li>
                    MwSt-Abrechnungen
                </li>
                <li>
                    Monatsabschlüsse/Quartalsabschlüsse/Jahresabschlüsse
                </li>
                <li>
                    Steuererklärungen
                </li>
                <li>
                    Beratungen
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>
