<div id="lobuko" class="row">
    <!-- <app-lobuko></app-lobuko> -->
    <mat-card class="col section1 primary">
        <mat-card-header>
            <mat-card-title>Lohnbuchkontrollen</mat-card-title>    
        </mat-card-header>
        <mat-card-content>
            <p>Im Auftrag paritätischer Kommissionen, führen wir Lohnbuchkontrollen durch.</p>
    
            <p>Dabei gelten unter anderem die folgenden Gesamtarbeitsverträge (GAV's) als rechtlicher Bestandteil:</p>
            <ul>
                <li>
                    GAV Personalverleih
                </li>
                <li>
                    GAV Elektro- / Telekomm.-Installation
                </li>
                <li>
                    GAV Bauhauptgewerbe (LMV)
                </li>
                <li>
                    GAV Gebäudetechnik
                </li>
                <li>
                    GAV Gebäudehüllengewerbe
                </li>
                <li>
                    GAV Isoliergewerbe
                </li>
                <li>
                    GAV Schreinereigewerbe
                </li>
                <li>
                    GAV Metallgewerbe
                </li>
                <li>
                    usw.
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
    <mat-card class="col section2 primary">
        <mat-card-header>
            <mat-card-title>Vorkontrollen</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Im Auftrag von Unternehmungen, werden Vorkontrollen durchgeführt.</p>
            <p>Dabei gibt uns der Kunde vor, welche Ebenen kontrolliert werden sollten:</p>
            <ul>
                <li>
                    welche Mitarbeiter
                </li>
                <li>
                    welche Bestimmungen
                </li>
                <li>
                    Versicherungslösungen/ -Leistungen
                </li>
                <li>
                    GAV-Bestimmungen
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>
<div id="loadm" class="row">
    <!-- <app-loadm></app-loadm> -->
    <mat-card class="col section1 primary">
        <mat-card-header>
            <mat-card-title>Lohnadministration</mat-card-title>    
        </mat-card-header>
        <mat-card-content>
           <p>
               Lohnabrechnungen müssen korrekt und pünktlich erstellt werden. <br/>
               Der Aufwand ist gross und kann meist zu ungünstigen Momenten anfallen. <br/>
               Überlassen Sie uns die Lohnadministration.
           </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="col section2 primary">
        <mat-card-header>
            <mat-card-title>Unsere Leistungen: </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ul>
                <li>
                    Lohnabrechnungen erstellen und versenden (Post/E-Mail)
                </li>
                <li>
                    DTA-File (nach ISO20022) erstellen und übermitteln.
                </li>
                <li>
                    Quellensteuerabrechnungen
                </li>
                <li>
                    Zwischenverdienste / Arbeitgeberbescheinigungen
                </li>
                <li>
                    Jahresdeklarationen (Lohnausweise, AHV, UVG, KTG, BVG, usw.)
                </li>
                <li>
                    Div. Auswertungen (Ferien, Überstunden, Überzeit, usw.)
                </li>
                <li>
                    Div. Vorlagen bereitstellen (Arbeitsvertrag, Arbeitszeugnisse, Kündigungen, usw.)
                </li>
                <li>
                    Support bei Revisionen (AHV, SUVA, Lohnbuchkontrollen)
                </li>
                <li>
                    Weitere Leistungen auf Anfrage
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>
<div id="buchhaltung" class="row">
    <!-- <app-buchhaltung></app-buchhaltung> -->
    <mat-card class="col section1 primary">
        <mat-card-header>
            <mat-card-title>Buchhaltung</mat-card-title>    
        </mat-card-header>
        <mat-card-content>
            <p>
                Die Buchhaltung ist für jede Unternehmung Pflicht. <br/>
                Damit Sie sich auf ihr operatives Geschäft konzentrieren können, erledigen wir für Sie die Buchhaltung.
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="col section2 primary">
        <mat-card-header>
            <mat-card-title>Unsere Leistungen:</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ul>
                <li>
                    Kreditorenbuchhaltung
                </li>
                <li>
                    Debitorenbuchhaltung (inkl. Mahnwesen)
                </li>
                <li>
                    Finanzbuchhaltung
                </li>
                <li>
                    MwSt-Abrechnungen
                </li>
                <li>
                    Monatsabschlüsse/Quartalsabschlüsse/Jahresabschlüsse
                </li>
                <li>
                    Steuererklärungen
                </li>
                <li>
                    Beratungen
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>
