.team{
    height: 100vh;
    div{
        color: black;
    }
    .mat-grid-tile{
        height: 80vh;
        .mat-card{
            max-width: 300px;
            height: auto;
            position: absolute;
            top: 10px;
        }
    }
}