<mat-grid-list cols="3" rowHeight="4:5">
        <mat-grid-tile *ngFor="let employee of employees">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{employee.FirstName}} {{employee.LastName}}</mat-card-title>
                    <mat-card-subtitle>{{employee.Position}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{employee.ImgPath}}" alt="Image of {{employee.FirstName}} {{employee.LastName}}">
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Aus-/Weiterbildung</h4>
                            <ul>
                                <li *ngFor="let edu of employee.Education">{{edu}}</li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <h4>Hobbies</h4>
                            <ul>
                                <li *ngFor="let hobby of employee.Hobbies">{{hobby}}</li>
                            </ul>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
</mat-grid-list>

