<mat-card class="section1 primary">
    <mat-card-header>
        <mat-card-title>Was Machen wir?</mat-card-title>    
    </mat-card-header>
    <mat-card-content>
        <ul>
            <li>
                Wir führen Lohnbuchkontrollen für paritätische Kommissionen durch.
            </li>
            <li>
                Wir führen Lohnbuchkontrollen für Unternehmen (Vorkontrolle/Vorsorge) durch.
            </li>
            <li>
                Wir wickeln für Unternehmen die Lohnadministration korrekt und pünktlich ab.
            </li>
            <li>
                Wir führen für Unternehmen die Buchhaltung.
            </li>
        </ul>
    </mat-card-content>
</mat-card>
<mat-card class="section2 primary">
    <mat-card-header>
        <mat-card-title>Wer sind wir?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul>
            <li>
                kompetente Betriebsökonome FH
            </li>
            <li>
                erfahrene Lohnspezialisten
            </li>
            <li>
                effizient, unkompliziert und termingerecht
            </li>
        </ul>
    </mat-card-content>
</mat-card>