<mat-card class="section2 primary">
    <mat-card-header>
        <mat-card-title>Wir sind</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul>
            <li>
                ein im Jahr 2014 gegründetes Controlling Unternehmen
            </li>
            <li>
                kompetente Betriebsökonome FH
            </li>
            <li>
                erfahrene Lohnspezialisten
            </li>
            <li>
                effizient, unkompliziert und termingerecht
            </li>
        </ul>
    </mat-card-content>
</mat-card>
<mat-card class="section1 primary">
    <mat-card-header>
        <mat-card-title>Unsere Dienstleistungen</mat-card-title>    
    </mat-card-header>
    <mat-card-content>
        <ul>
            <li>
                Lohnbuchkontrollen im Auftrag paritätischer Kommissionen.
            </li>
            <li>
                Lohnbuchkontrollen im Auftrag von Unternehmen (Vorkontrolle/Vorsorge)
            </li>
        </ul>
    </mat-card-content>
</mat-card>